<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- My External CSS -->
    <link rel="stylesheet" href="../styles.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    
    <title>Richard M. Sahagun Jr. - About Me</title>
</head>

<body>
    <!-- Navigation Bar -->
    <div class="top-nav">
        <h1><a href="../index.html">Richard Sahagun</a></h1>
        <a href="./my-family.html" class="nav-item">My Family</a>
        <a href="./academic-life.html" class="nav-item">Academic Life</a>
        <a href="./about-me.html" class="nav-item">About Me</a>
    </div>

    <!-- About Me Section -->
    <div class="about-me-section-1">
        <div class="text-container">
            <h2 class="heading name">Richard Sahagun</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor orci ac consectetur placerat. In
                in tellus augue. Maecenas mollis in mi tincidunt consectetur. Donec ornare malesuada ex nec blandit.
                Vestibulum eros arcu, laoreet sed lacus non, efficitur fermentum risus. Etiam vitae neque eget purus
                commodo laoreet.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor orci ac consectetur placerat. In
                in tellus augue. Maecenas mollis in mi tincidunt consectetur. Donec ornare malesuada ex nec blandit.
                Vestibulum eros arcu, laoreet sed lacus non, efficitur fermentum risus. Etiam vitae neque eget purus
                commodo laoreet.
            </p>
        </div>
        <div class="image-container">
            <img src="/images/my-pic.jpg" alt="my picture" class="my-picture">
        </div>
    </div>

    <!-- Family Section -->
    <div class="about-me-section-2">
        <div class="text-container">
            <h2 class="heading meet-family-text">IT'S ME!</h2>
        </div>
        <div class="image-container">
            <img src="../images/pfp.jpg" alt="family picture" class="family-picture">

        </div>
    </div>
    <script src="../app.js">

    </script>
</body>

</html>