<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- My External CSS -->
    <link rel="stylesheet" href="../styles.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    
    <title>Richard M. Sahagun Jr. - My Family</title>
</head>

<body>
    <!-- Navigation Bar -->
    <div class="top-nav">
        <h1><a href="../index.html">Richard M. Sahagun</a></h1>
        <a href="./my-family.html" class="nav-item">My Family</a>
        <a href="./academic-life.html" class="nav-item">Academic Life</a>
        <a href="./about-me.html" class="nav-item">About Me</a>
    </div>

    <!-- Family Section -->
    <div class="family-section-1">
        <div class="family-section-1-text">
            <h2 class="heading">My Family</h2>
            <p class="family-section-1-p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor orci ac consectetur placerat. In
                in tellus augue. Maecenas mollis in mi tincidunt consectetur. Donec ornare malesuada ex nec blandit.
                Vestibulum eros arcu, laoreet sed lacus non, efficitur fermentum risus. Etiam vitae neque eget purus
                commodo laoreet.
            </p>
        </div>
        <div class="family-section-1-images">
            <div class="family-image-container">
                <img src="https://picsum.photos/200" alt="family picture" class="family-member-img">
                <h2>Richard T. Sahagun</h2>
                <h3>Dad</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor orci ac consectetur placerat. In
                    in tellus augue.
                </p>
            </div>
            <div class="family-image-container">
                <img src="https://picsum.photos/200" alt="family picture" class="family-member-img">
                <h2>Richard T. Sahagun</h2>
                <h3>Dad</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor orci ac consectetur placerat. In
                    in tellus augue.
                </p>
            </div>
            <div class="family-image-container">
                <img src="https://picsum.photos/200" alt="family picture" class="family-member-img">
                <h2>Richard T. Sahagun</h2>
                <h3>Dad</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor orci ac consectetur placerat. In
                    in tellus augue.
                </p>
            </div>
        </div>
        <div class="family-section-1-images spacing">
            <div class="family-image-container">
                <img src="https://picsum.photos/200" alt="family picture" class="family-member-img">
                <h2>Richard T. Sahagun</h2>
                <h3>Dad</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor orci ac consectetur placerat. In
                    in tellus augue.
                </p>
            </div>
            <div class="family-image-container">
                <img src="https://picsum.photos/200" alt="family picture" class="family-member-img">
                <h2>Richard T. Sahagun</h2>
                <h3>Dad</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor orci ac consectetur placerat. In
                    in tellus augue.
                </p>
            </div>
            <div class="family-image-container">
                <img src="https://picsum.photos/200" alt="family picture" class="family-member-img">
                <h2>Richard T. Sahagun</h2>
                <h3>Dad</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor orci ac consectetur placerat. In
                    in tellus augue.
                </p>
            </div>
        </div>
        <!-- <div class="image-container">
            <img src="https://picsum.photos/200" alt="family picture" class="family-picture">

        </div> -->
    </div>

</body>

</html>