<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- My External CSS -->
    <link rel="stylesheet" href="../styles.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    
    <title>Richard Sahagun - My Family</title>
</head>

<body>
    <!-- Navigation Bar -->
    <div class="top-nav">
        <h1><a href="../index.html">Richard Sahagun</a></h1>
        <a href="./my-family.html" class="nav-item">My Family</a>
        <a href="./academic-life.html" class="nav-item">Academic Life</a>
        <a href="./about-me.html" class="nav-item">About Me</a>
    </div>

    <!-- Family Section -->
    <div class="family-section-1">
        <div class="family-section-1-text">
            <h2 class="heading">My Family</h2>
            <p class="family-section-1-p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor orci ac consectetur placerat. In
                in tellus augue. Maecenas mollis in mi tincidunt consectetur. Donec ornare malesuada ex nec blandit.
                Vestibulum eros arcu, laoreet sed lacus non, efficitur fermentum risus. Etiam vitae neque eget purus
                commodo laoreet.
            </p>
        </div>
        <div class="family-section-1-images">
            <div class="family-image-container">
                <img src="https://scontent.fmnl8-2.fna.fbcdn.net/v/t39.30808-6/328714802_1343844736400202_8126911844245770884_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=QoFXjP3fCOkAX_5wuEK&_nc_ht=scontent.fmnl8-2.fna&cb_e2o_trans=t&oh=00_AfAfDV2MaY_p-_HnY_-5Ivq9sG0M8eiCcEO4hON3oLDPbQ&oe=65C237EE" alt="family picture" class="family-member-img">
                <h2>Richard T. Sahagun</h2>
                <h3>Father</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor orci ac consectetur placerat. In
                    in tellus augue.
                </p>
            </div>
            <div class="family-image-container">
                <img src="https://scontent.fmnl8-1.fna.fbcdn.net/v/t1.15752-9/418848599_1308860506378415_3843568211321105209_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=8cd0a2&_nc_ohc=a28ihvXjv0gAX8Nd99K&_nc_ht=scontent.fmnl8-1.fna&cb_e2o_trans=t&oh=03_AdSrC3Qs1FIsJaxVTSxyYoqQqZIJGjPmQu9KuUySRZ3pIQ&oe=65E51E9D" alt="family picture" class="family-member-img">
                <h2>Lilia Sahagun</h2>
                <h3>Mother</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor orci ac consectetur placerat. In
                    in tellus augue.
                </p>
            </div>
            <div class="family-image-container">
                <img src="https://scontent.fmnl8-3.fna.fbcdn.net/v/t1.15752-9/411641546_1067117024617271_4567028771746334721_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8cd0a2&_nc_ohc=8PTxonoDopIAX9BbgcJ&_nc_ht=scontent.fmnl8-3.fna&cb_e2o_trans=t&oh=03_AdQ0dEruABsb8H1S-bfqzMnnsYnumAlsdbFy1bxJLnEv3g&oe=65E5159A" alt="family picture" class="family-member-img">
                <h2>Manuel Sahagun</h2>
                <h3>Brother</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor orci ac consectetur placerat. In
                    in tellus augue.
                </p>
            </div>
        </div>
        <div class="family-section-1-images spacing">
            <div class="family-image-container">
                <img src="https://scontent.fmnl8-3.fna.fbcdn.net/v/t39.30808-6/407987120_7160882753932025_4546164786689784803_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=KaXefvzdty8AX9Po4Iw&_nc_ht=scontent.fmnl8-3.fna&cb_e2o_trans=t&oh=00_AfCc4OlERUlRaNlI5hOkNEfaxXn9odLawn5ZL_STFI6jHQ&oe=65C3577A" alt="family picture" class="family-member-img">
                <h2>Richel Sahagun</h2>
                <h3>Older Sister</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor orci ac consectetur placerat. In
                    in tellus augue.
                </p>
            </div>
            <div class="family-image-container">
                <img src="../images/younger-sister.png" alt="family picture" class="family-member-img">
                <h2>Charlene sahagun</h2>
                <h3>Younger Sister</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor orci ac consectetur placerat. In
                    in tellus augue.
                </p>
            </div>
        </div>
        <!-- <div class="image-container">
            <img src="https://picsum.photos/200" alt="family picture" class="family-picture">

        </div> -->
    </div>

</body>

</html>